<header class="bg-gray-950 shadow-lg mb-8 fixed w-full">
    <nav class="flex flex-row w-full justify-center py-2 self-center">
        <a href="/">
            <img src="/images/header-lucy.png"
                class="rounded-full w-12 h-auto self-center mx-4 border-[#00dcdf] border-2" />
        </a>
        <a href="/projects" class="self-center mx-4">
            Mes Projets
        </a>
        <a href="/scholar" class="self-center mx-4">
            Scolaire
        </a>

        <a href="/cv" target="_blank" class="self-center mx-4">Mon CV</a>
        <a href="/about" class="self-center mx-4 ">
            À Propos
        </a>

        <a href="/techwatch" class="self-center mx-4 ">
            Veille Technologique
        </a>

    </nav>
</header>