<header class="bg-gray-950 shadow-lg mb-8 fixed w-full z-50">
    <nav class="flex flex-row w-full justify-center py-2 self-center">
        <a href="/">
            <img src="/images/header-lucy.webp"
                class="rounded-full w-12 h-auto self-center mx-4 border-[#00dcdf] border-2" />
        </a>

        <a href="/myskills" class="header-item">
            Mes Compétences
        </a>

        <a href="/projects" class="header-item">
            Projets Personnels
        </a>

        <a href="/scholar" class="header-item">
            Projets Scolaires
        </a>

        <a href="/bts" class="header-item">
            BTS SIO
        </a>

        <a href="/cv.pdf" target="_blank" class="header-item flex flex-row">
            <p>Mon CV</p>
            <img src="/images/extern.svg" class="ml-1 w-6 h-auto fill-white" />
        </a>
    </nav>
</header>