{% extends "base.html" %}

{% block title %} Quentindeve{% endblock %}

{% block body %}
<div class="flex flex-col">
    <h1>👋 Bienvenue sur mon portfolio !</h1>

    <div class="text-container">
        <h2 class="text-3xl mb-4">Qui suis-je ?</h2>
        <p>
            Je suis Quentin, un développeur de 22 ans passionné de développement système et embarqué. Autodidacte depuis
            l'âge de 15 ans, je fais naturellement preuve de curiosité et j'aime m'intéresser aux sujets liés à
            l'informatique.
        </p>
    </div>

    <hr />

    <div class="text-container">
        <h2>Quel est mon parcours ?</h2>
        <p>
            J'ai commencé mon parcours dans le supérieur par une année de licence (L1) en Sciences de l'Ingénieur à
            l'INSSET
            de Saint-Quentin (02), Université Jules Verne. J'ai ensuite migré sur une seconde année de licence (L2) en
            Informatique à l'Université de Lille, que j'ai infructueusement redoublé.
            J'ai par la suite intégré un BTS SIO (Services Informatiques aux Organisations) spécialité SLAM (Solutions
            Logicielles et Applications Métiers) au lycée professionnel de Saint-Luc, Cambrai (59). Je suis actuellement
            à
            la recherche d'une alternance pour poursuivre mon parcours académique pour développer mes compétences en
            développement système et embarqué.
        </p>
    </div>

    <hr />

    <div class="text-container">
        <h2>Comment ai-je appris la programmation ?</h2>
        <p>
            J'ai commencé à apprendre la programmation en autodidacte à l'âge de 15 ans, en apprenant le langage Java
            dans
            un but de modding Minecraft. J'ai ensuite enchainé sur C# pour le développement d'applications graphiques
            avec
            WPF, le développement web avec HTML/CSS/JS/PHP, puis C pour apprendre le développement en environnement
            bare-metal, notamment le développement de systèmes d'exploitation. J'ai continué avec Python pour le
            développement de scripts utilitaires simples, et enfin avec Rust pour les systèmes embarqués et le
            bare-metal.
        </p>
    </div>
</div>
{% endblock %}