{% extends "base.html" %}

{% block title %}
Quentindeve / Projets / {{ page.title }}
{% endblock %}

{% block body %}
<div class="flex flex-col">
    <h1>{{ page.title }}</h1>
    <span class="italic text-gray-400 self-center mb-8">{{ page.date | date(format="%d/%m/%Y")}}</span>
    <div class="flex flex-col">
        <div class="text-container">{{ page.content | safe }}</div>

        {% if page.extra.github_link %}
        <a href="{{ page.extra.github_link | safe }}" target="_blank"
            class="self-center border-solid border-4 p-2 rounded-lg hover:border-cyberblue ">Accéder
            au dépôt
            GitHub
        </a>

        {% elif page.extra.file %}
        <a href="{{ file | safe }}" target="_blank"
            class="self-center border-solid border-4 p-2 rounded-lg hover:border-cyberblue ">
            Télécharger le rendu
        </a>
        {% endif %}

    </div>
</div>
{% endblock %}